@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Raleway:wght@200;500&display=swap');

:root {
    --header-color: black;
    --p-color: white;
    --button-color: #B19065; 
    --background-color: #1B1918;
    --background-secondary-color: #2F2B27;
    --accent-color: #B3A38F; 
    --header-font: "Merriweather", sans-serif;
    --p-font: "Raleway", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    padding: 0 20px;
    background-color: var(--background-color);
    display: grid;
    place-items: center;

    .navbar {
        height: 55px;
        width: 100%;
        background-color: var(--accent-color);
        position: fixed;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        font-family: var(--header-font);
        font-weight: bolder;
        color: var(--text-color);
        a {
            cursor: pointer;
        }
    }

    .main {
        background-color: var(--accent-color);
        height: 70vh;
        min-height: min-content;
        width: 80vw;
        margin-top: 20px;
        padding: 8px;

        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 500px) {
    .content {
        padding: 0;
        .main {
            height: 80vh;
            width: 300px;
        }
    }
}